<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\css\style-tela-multiplayer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>STUN - Multiplayer</title>
</head>
<body>
    <div class="overlay">
        <div class="topnav" id="myTopnav">
            <a href="../index.html">Inicio</a>
            <a href="../components/telaRegras.html">Regras</a>
            <a href="#">Multiplayer</a>
            <a href="#about">Loja</a>
            <a href="../components/telaPlacar.html">Placar</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>

        <div class="container">
        <div class="logo"></div>
        <div class="container__informacao">
          <h1>Super Trunfo</h1>
          <input type="text" placeholder="Nickname" required id="inputNome" />
        </div>
    </div> <!--Container-->
    </div> <!--Overlay-->
    <script src="../script/interfaceIndex.js"></script>
</body>
</html>