<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-tela-regras.css">
    <title>Regras</title>
</head>
<body>
    <div class="main">
        <div class="div-geral">
            <div class="sub-div">
                <div class="regras-geral">

                    <h1 class="regras-jogo">&#127924; Regras do jogo Super Trunfo - STUN</h1>
                    
                    <h3>&#127919; OBJETIVO</h3>
                    <p>Ganhar todas as cartas do baralho.</p>
                    
                    <h3>&#127922; O JOGO</h3>
                    <p>O jogo baseia-se na comparação dos valores de sua carta com a dos outros jogadores. Para sua
                        carta vencer, a característica escolhida precisa ter valor maior ou menor (em alguns casos) do que
                        a carta dos seus adversários. <br>
                        Quando sua carta vence, você ganha a carta dos seus adversários e a próxima carta de sua pilha
                        aparece para uma nova jogada.<br></p>
        
                    <h3>&#128202; PLACAR</h3>
                    <p>O placar mostra o número de cartas que você e seus adversários possuem. O placar vai se
                        alterando automaticamente a cada rodada.<br>
                        Em caso de empate as cartas ficam no monte e um placar mostra quantas cartas estão lá. Quando
                        um jogador vencer a próxima rodada, ele ganha todas as cartas do monte.<br></p>
        
                    <h3>📚 OPÇÕES DE BARALHO</h3>
                    <p>Existem dezenas de baralhos diferentes de Super Trunfo. Este contém 28 cartas com itens
                        relacionados ao orçamento das prefeituras de Santa Catarina.<br>
                        Cada tipo tem um grau de dificuldade diferente. Escolha aquele que mais lhe agrada e estude bem
                        as informações de cada carta.<br></p>
        
                    <h3>🕹️ COMO JOGAR</h3>
                
                     
                         <li>Observe, para o Super Trunfo escolhido, qual valor vence em cada característica: se o menor ou
                            o maior valor. </li>
                         <li>Para iniciar, escolha entre as informações da sua carta, aquela que você julga ter o valor capaz
                            de vencer as cartas dos seus adversários. </li>
                         <li>Se você vencer - a carta do outro jogador irá para trás do seu monte de cartas e você continua
                            escolhendo a informação da sua próxima carta. </li>
                         <li>Se o outro jogador vencer - sua carta irá para trás do monte de cartas dele e a vez de escolher
                            passa para ele. </li>
                         <li>Em caso de empate - as cartas irão para o monte e uma nova disputa é feita, sendo que o jogador
                            que escolheu as cartas que empataram deve escolher novamente. </li>
                         <li>O jogo termina quando um dos jogadores ganhar todas as cartas do baralho. </li>
                       

             </div>
            </div>
        </div>
    </div>
</body>
</html>