<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style-tela-regras.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="shortcut icon" href="../assets/favicon.ico" />
    <title>STUN - Regras</title>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="../index.html">Inicio</a>

      <a href="../components/telaMultiplayer.html">Multiplayer</a>
      <a href="./telaLoja.html">Loja</a>
      <a href="../components/telaPlacar.html">Placar</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="main">
      <div class="div-geral">
        <div class="sub-div">
          <div class="regras-geral">
            <h1 class="regras-jogo">
              &#127924; Regras do jogo Super Trunfo - STUN
            </h1>

            <h3>&#127919; OBJETIVO</h3>
            <p>Ganhar todas as cartas do baralho.</p>

            <h3>&#127922; O JOGO</h3>
            <p>
              O jogo baseia-se na comparação dos valores de sua carta com a do
              outro jogador. Para sua carta vencer, a característica escolhida
              precisa ter valor maior do que a carta do seu adversário.
            </p>

            <h3>&#128202; PLACAR</h3>
            <p>
              O placar mostra a quantidade de pontos que cada jogador possui. O
              placar vai se alterando automaticamente a cada rodada. O jogador 
              ganha 50 pontos em caso de vitória, e 0 pontos em caso empate. Quando o jogo 
              acaba (você ou seu adversário ficam sem cartas no deck) a pontuação do 
              vencedor dobra, e a do perdedor cai pela metade.
            </p>

            <h3>📚 OPÇÕES DE BARALHO</h3>
            <p>
              Existem dezenas de baralhos diferentes de Super Trunfo. Este jogo
              contém 3 baralhos, cada um possuindo 20 cartas com itens
              relacionados aos personagens de Naruto, Super-Heróis e Jogadores
              de Futebol.
            </p>

            <h3>🕹️ COMO JOGAR</h3>

            <li>
              Observe, para o Super Trunfo escolhido, qual valor vence em cada
              característica: se o menor ou o maior valor.
            </li>
            <li>
              Para iniciar, escolha entre as informações da sua carta, aquela
              que você julga ter o valor capaz de vencer as cartas do seu
              adversário.
            </li>
            <li>
              Se você vencer - a carta do outro jogador irá para trás do seu
              monte de cartas, e você continua escolhendo a informação da sua
              próxima carta. A sua última carta jogada também vai para o fim do deck.
            </li>
            <li>
              Se o outro jogador vencer - sua carta irá para trás do monte de
              cartas dele e a vez de escolher passa para ele.
            </li>
            <li>
              Em caso de empate - as cartas irão para o monte e uma nova disputa
              é feita, sendo que o jogador que escolheu as cartas que empataram
              deve escolher novamente.
            </li>
            <li>
              O jogo termina quando um dos jogadores ganhar todas as cartas do
              baralho.
            </li>
          </div>
        </div>
      </div>
    </div>
    <script src="../script/interfaceIndex.js"></script>
  </body>
</html>
