<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style-tela-placar.css">

  <title>STUN - Super Trunfo</title>

</head>
<body>

  <div class="main">

    <div class="div-geral">

      <div class="botao-voltar">exit</div>
      
      <div class="scoreboard">Scoreboard</div>
      <div class="jogador1">1. Jogador 1 50320</div>
      <div class="jogador2">2. Jogador 2 47220</div>
      <div class="jogador3">3. Jogador 3 22420</div>

      <div class="score"></div>

    </div>

  </div>

</body>
</html>