<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regras</title>
</head>
<body>
    <div class="main">
        <div class="div-geral">

            <h1 class="regras">Regras do jogo Super Trunfo - STUN</h1>
            
            <h3>Objetivo</h3>
            
            
            <h3>O JOGO</h3>
            
            <h3>PLACAR</h3>
            
            <h3>OPÇÕES DE BARALHO</h3>
            
            <h3>COMO JOGAR</h3>

        </div>
    </div>
</body>
</html>