<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style-tela-placar.css">

  <title>STUN - Super Trunfo</title>

</head>
<body>
  <div class="overlay"></div>
  
  <div class="main">

    <div class="div-geral">

      <a href="../index.html">
      <div class="botao-voltar">
        
        <i class="fas fa-undo"></i>
      </div></a>

      <h1 class="scoreboard">Scoreboard</h1>

      <div class="jogadores">
      <div class="jogador1">
        <span>1.</span><span></span><span></span><span id="medalha1"></span>
      </div>
      <div class="jogador2">
        <span>2.</span><span></span><span></span><span id="medalha2"></span>
      </div>
      <div class="jogador3">
        <span>3.</span><span></span><span></span><span id="medalha3"></span>
      </div>
      
      </div>

      <div class="score">Score: 112000000 </div>

    </div>

  </div>
  <script src="https://kit.fontawesome.com/e22ee91c0e.js" crossorigin="anonymous"></script>
  <script src="../script/scoreBoard.js"></script>
</body>
</html>