<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STUN - Super Trunfo</title>
</head>
<body>
  <div class="container">
    <div>
      <h2>Player</h2>
      <div class="costa__carta">

      </div>
      <div class="frente__carta">
        <div class="imagem__carta"><img src="https://i.ibb.co/wKQ10sj/naruto.jpg" alt=""></div>
        <div class="atributos__carta"><span>Ninjutsu</span></div>
        <div class="atributos__carta"><span>Taijutsu</span></div>
        <div class="atributos__carta"><span>Genjutsu</span></div>
        <div class="atributos__carta"><span>Inteligência</span></div>
      </div>
    </div>
    <div><p>VS</p></div>
    <div>
      <h2>CPU</h2>
      <div class="costa__carta">

      </div>
      <div class="frente__carta">
        <div class="imagem__carta"><img src="https://i.ibb.co/wKQ10sj/naruto.jpg" alt=""></div>
        <div class="atributos__carta"><span>Ninjutsu</span></div>
        <div class="atributos__carta"><span>Taijutsu</span></div>
        <div class="atributos__carta"><span>Genjutsu</span></div>
        <div class="atributos__carta"><span>Inteligência</span></div>
      </div>
    </div>
  </div>
</body>
</html>