@import url("https://fonts.googleapis.com/css?family=Exo:700");
:root {
  --bg-color: #aad8d3;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo", sans-serif;
  font-size: 87%;
  background: url("https://images5.alphacoders.com/103/1036489.jpg");
  background-repeat: no-repeat;
  color: var(--text-color);
  /* height: 100vh; */
  background-position-x: center;
}

/*Cor da barra*/
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #1f867085;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav{
    position: absolute;
    z-index: 9999;
    width: 100vw;
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: absolute;
  width: 100vw;
  z-index: 9999;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container__informacao {
  width: 90%;
  height: 190px;
  margin-top: 15px;
  background-color: #1f867085;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.container__informacao h1 {
  font-size: 1.8rem;
  margin-top: 10px;
}

.container__informacao input {
  width: 250px;
  height: 30px;
  padding: 8px;
  border-radius: 5px;
  border: 0;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.container__deck {
  width: 90%;
  padding: 15px 0;
  margin-top: 15px;
  background-color: #1f867085;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.primeiro__deck {
  width: 221px;
  height: 340px;
  background: url("https://i.ibb.co/Ws6DFfp/dd52f71e5d9ef3856c4851271bf33508.jpg");
  background-size: cover;
  text-align: center;
  border-radius: 10px;
}

.segundo__deck {
  width: 221px;
  height: 340px;
  background: url("https://i.ibb.co/VpzKxqT/2d073065f0ed8ff551c0c57f9b4449bb.jpg");
  background-size: cover;
  text-align: center;
  border-radius: 10px;
}

.terceiro__deck {
  width: 221px;
  height: 340px;
  background: url("https://i.ibb.co/x1WYsYv/ce7210f01338eb848dfae52752b2c537.png");
  background-size: cover;
  text-align: center;
  border-radius: 10px;
}
.deck__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deck__title h2 {
  margin: 10px 0;
  letter-spacing: 0.2rem;
}

@media screen and (min-width: 1024px) {
  body {
    background: url("https://images5.alphacoders.com/103/1036489.jpg");
    background-size: cover;
  }

  #logo {
    width: 400px;
    height: 250px;
    background: url("https://i.ibb.co/yQsqVPz/STUN.png") no-repeat;
    background-size: contain;
    margin-bottom: -70px;
    /* margin-top: 65px; */
    z-index: 999;
  }

  .container {
    z-index: 5;
    max-width: 980px;
    margin: 0 auto;
    margin-top: -25px;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container__informacao {
    width: 65%;
    max-height: 15%;
    border: 2px solid black;
  }

  .container__informacao h1 {
    font-size: 3rem;
    margin-top: 15px;
  }

  .container__informacao input {
    width: 60%;
    height: 40px;
    padding: 14px 10px;
    border-radius: 7px;
    border: 0;
    font-size: 1.4rem;
    margin-bottom: 15px;
  }

  .container__deck {
    width: 65%;
    border: 2px solid black;
  }

  .container__deck h3 {
    letter-spacing: 0.2rem;
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  .decks {
    display: flex;
    gap: 30px;
  }
  .primeiro__deck {
    width: 170px;
    height: 250px;
    background: url("https://i.pinimg.com/564x/dd/52/f7/dd52f71e5d9ef3856c4851271bf33508.jpg");
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
  }

  .segundo__deck {
    width: 170px;
    height: 250px;
    background: url("https://i.pinimg.com/originals/2d/07/30/2d073065f0ed8ff551c0c57f9b4449bb.jpg");
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
  }

  .terceiro__deck {
    width: 170px;
    height: 250px;
    background: url("https://cdn.discordapp.com/attachments/835240908806291476/837146281192456192/ce7210f01338eb848dfae52752b2c537.png");
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 26, 26, 0.5);
  }

  footer {
    letter-spacing: 0.12rem;
    margin-top: 8px;
  }
}

@media screen and (max-width: 1366px) {
  #logo {
    width: 250px;
    height: 170px;
    background: url("https://i.ibb.co/yQsqVPz/STUN.png") no-repeat;
    background-size: contain;
    margin-bottom: -60px;
    z-index: 999;
  }

  .container__informacao {
    width: 55%;
    border: 2px solid black;
  }

  .container__informacao h1 {
    font-size: 2rem;
    margin-top: 15px;
  }

  .container__deck h3 {
    letter-spacing: 0.2rem;
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .container__informacao input {
    width: 60%;
    height: 35px;
    border-radius: 7px;
    border: 0;
    font-size: 1.4rem;
    margin-bottom: 15px;
  }

  .container__deck {
    width: 55%;
    border: 2px solid black;
  }

  .deck__title {
    font-size: 18px;
    margin-top: 0;
  }

  .primeiro__deck {
    width: 125px;
    height: 190px;
    background: url("https://i.pinimg.com/564x/dd/52/f7/dd52f71e5d9ef3856c4851271bf33508.jpg");
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
  }

  .segundo__deck {
    width: 125px;
    height: 190px;
    background: url("https://i.pinimg.com/originals/2d/07/30/2d073065f0ed8ff551c0c57f9b4449bb.jpg");
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
  }

  .terceiro__deck {
    width: 125px;
    height: 190px;
    background: url("https://cdn.discordapp.com/attachments/835240908806291476/837146281192456192/ce7210f01338eb848dfae52752b2c537.png");
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  #logo {
    width: 250px;
    height: 170px;
    background: url("https://i.ibb.co/yQsqVPz/STUN.png") no-repeat;
    background-size: contain;
    margin-bottom: -80px;
    margin-top: 50px;
    z-index: 999;
  }

  .container {
    z-index: 5;
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container__informacao {
    width: 80%;
    border: 2px solid black;
  }

  .container__informacao h1 {
    font-size: 2rem;
    margin-top: 15px;
  }

  .container__deck h3 {
    letter-spacing: 0.2rem;
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
  }

  .container__informacao input {
    width: 60%;
    height: 45px;
    border-radius: 7px;
    border: 0;
    font-size: 1.4rem;
    margin-bottom: 15px;
  }

  .container__deck {
    width: 80%;
    border: 2px solid black;
  }

  .deck__title {
    font-size: 18px;
    margin-top: 0;
  }

  .primeiro__deck {
    width: 125px;
    height: 190px;
    background: url("https://i.pinimg.com/564x/dd/52/f7/dd52f71e5d9ef3856c4851271bf33508.jpg");
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
  }

  .segundo__deck {
    width: 125px;
    height: 190px;
    background: url("https://i.pinimg.com/originals/2d/07/30/2d073065f0ed8ff551c0c57f9b4449bb.jpg");
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
  }

  .terceiro__deck {
    width: 125px;
    height: 190px;
    background: url("https://cdn.discordapp.com/attachments/835240908806291476/837146281192456192/ce7210f01338eb848dfae52752b2c537.png");
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 854px) {
  body {
    background: url("https://i.ibb.co/tD75xLh/Sin-t-tulo-2.jpg");
  }
}

.modal-content {
  background-color: #1f867085;
}

.btn-close {
  color: #fff;
}

.content-list li {
  list-style: none;
}

.card img {
  width: 100px;
  height: 100px;
}

.modal-footer {
  justify-content: space-between;
}

.item-catao-modal li {
  list-style-type: none;
}

.midia-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.midia-social a {
  margin-left: 10px;
}

.fa-github {
  color: #fff;
  font-size: 1.5rem;
}

.fa-linkedin-in {
  color: #fff;
  font-size: 1.5rem;
}

.modal-body p {
  font-size: 1.1rem;
  margin-left: 10px;
}

.modal-body h3 {
  margin-left: 10px;
}
