/*navigation bar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo", sans-serif;
  background-image: url("https://i.ibb.co/yNL9KCW/dasha-henrih.jpg");
}

/*Cor da barra*/
.topnav {
  background-color: #333;
  overflow: hidden;
  z-index: 99;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #5c2c877d;
}

.topnav .icon {
  display: none;
}

.logo {
  width: 300px;
  height: 250px;
  background: url("https://i.ibb.co/yQsqVPz/STUN.png") no-repeat;
  background-size: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
}

.Loja {
  color: #eeeeee;
  margin-top: -24px;
  margin-bottom: 50px;
  font-size: 2.5rem;
  font-weight: normal;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

h4 {
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.div-geral {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.panel {
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 18px;
}

.container-decks {
  z-index: 5;
  display: flex;
  flex-direction: column;
  background-color: #1f867085;
  border-radius: 25px;
  border: 2px solid #000;
  margin-top: 70px;
}

.titulo {
  width: 100%;
}

.formulaUno {
  width: 170px;
  height: 250px;
  background: url("https://i.ibb.co/SnrKL3n/racefansdotnet-20190221-173420-10.jpg");
  background-size: cover;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #000;
  display: block;
  margin-left: auto;
  margin-right: auto;

  transition: all 0.3s;
}

.boruto {
  width: 170px;
  height: 250px;
  background: url("https://i.ibb.co/5sKzZhs/wallpapersden-com-cool-boruto-uzumaki-art-2048x2048.jpg");
  background-size: cover;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #000;
  display: block;
  margin-left: auto;
  margin-right: auto;

  transition: all 0.3s;
}

.hero {
  width: 170px;
  height: 250px;
  background: url("https://i.ibb.co/zbzNgwt/deadpool-marvel-anti-hero-uhdpaper-com-hd-6-2033.jpg");
  background-size: cover;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #000;
  display: block;
  margin-left: auto;
  margin-right: auto;

  transition: all 0.3s;
}

.name {
  color: gold;
  margin-top: -7%;
  background-color: black;
  width: 100%;
  border-radius: 10px;
  padding: 3px;
  border: 2px solid gold;
}

.price {
  color: gold;
  margin-top: 125%;
  background-color: black;
  width: 100%;
  border-radius: 10px;
  padding: 2px;
  border: 2px solid gold;
}

/* .overlay {
  position: none;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(63, 26, 26, 0.3);
} */

.price:hover {
  background-color: gray;
  transition: all 0.3s;
}

.boruto:hover,
.formulaUno:hover,
.hero:hover {
  width: 280px;
  height: 400px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav {
    z-index: 9999;
    width: 100vw;
  }
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* @media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo {
    width: 250px;
    height: 170px;
    background: url("https://i.ibb.co/yQsqVPz/STUN.png") no-repeat;
    background-size: contain;

    margin-top: -50px;
    z-index: 999;
  }

  .container-decks {
    margin-top: 70px;
    height: 550px;
  }

  .boruto:hover,
  .formulaUno:hover,
  .hero:hover {
    width: 220px;
    height: 290px;
  }
} */

@media screen and (min-width: 1024px) {
  .logo {
    width: 250px;
    height: 170px;
    background: url("https://i.ibb.co/yQsqVPz/STUN.png") no-repeat;
    background-size: contain;

    margin-top: -20px;
    z-index: 999;
  }

  .container-decks {
    margin-top: 50px;
    height: 550px;
  }

  .boruto:hover,
  .formulaUno:hover,
  .hero:hover {
    width: 220px;
    height: 290px;
  }
}

@media screen and (min-width: 1366px) {
  .logo {
    width: 250px;
    height: 170px;
    background: url("https://i.ibb.co/yQsqVPz/STUN.png") no-repeat;
    background-size: contain;

    z-index: 999;
    margin-top: -48px;
  }

  .container-decks {
    margin-top: 50px;
    height: 530px;
  }

  .boruto:hover,
  .formulaUno:hover,
  .hero:hover {
    width: 230px;
    height: 300px;
  }
}

@media screen and (min-width: 1445px) {
  .logo {
    width: 400px;
    height: 250px;
    background: url("https://i.ibb.co/yQsqVPz/STUN.png") no-repeat;
    background-size: contain;

    z-index: 999;
    margin-top: -150px;
  }
  .container-decks {
    margin-top: 150px;
    height: 700px;
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(63, 26, 26, 0.4);
  }

  .boruto:hover,
  .formulaUno:hover,
  .hero:hover {
    width: 280px;
    height: 400px;
  }
}
