@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Exo', sans-serif;
}

h1{
    font-size: 3.5rem;
    font-weight: normal;
    text-shadow: 1px 1px 2px black;
    color: #393E46;
}

/* vh é o que o usuário enxerga na tela */
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 980px;
    height: 600px;
    background-color: #AAD8D3;
    border-radius: 25px;
    position: relative;
}

.botao-voltar{
    color: white;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    left: 870px;
    top: 40px;
    background-color: #00ADB5;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fa-undo{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* .jogadores div se aplica aos filhos da classe .jogadores (div) */

.jogadores div{
    font-size: 1.5rem;
    height: 60px;
    width: 400px;
    background-color: #393E46;
    margin-bottom: 20px;
    border-radius: 15px;
    color:  #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-shadow: 1px 1px 2px black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#medalha1 {
    background-color: #E6CA67;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#medalha2 {
    background-color: #A5A1A1;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#medalha3 {
    background-color: #C67D3A;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.score{
    font-size: 2rem;
    text-shadow: 1px 1px 2px black;
    color: #393E46;
}